.Homepage {
  .bx--grid.lead {
    border-bottom: 1px solid #7f7f84;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div {
        max-width: 311px;
      }
    }
    .right {
      img {
        width: 100%;
      }
    }
  }
  a {
    text-decoration: none;
    font-size: 50px;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2c2c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
      display: none;
      width: 2.75rem;
      height: 2.75rem;
      margin-left: 6rem;
      fill: #f74300;
    }
    span {
      display: none;
      font-size: 14px;
      font-style: italic;
      color: #f74300;
    }
    &:hover {
      color: #f74300;
      svg,
      span {
        display: initial;
      }
    }
  }
}
