$sm: 320px;
$md: 672px;
$lg: 1056px;
$xl: 1312px;
$max: 1584px;

$sm-minus-1: calc(#{$sm} - 1px);
$md-minus-1: calc(#{$md} - 1px);
$lg-minus-1: calc(#{$lg} - 1px);
$xl-minus-1: calc(#{$xl} - 1px);
$max-minus-1: calc(#{$max} - 1px);

.Homepage {
  background-color: #eeeeee;
  .bx--grid.lead {
    box-shadow: 0 1px 0 #000;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  a {
    color: black;
    text-decoration: none;
    font-size: 4rem;
    line-height: 5.5rem;
    svg {
      display: none;
      width: 4rem;
      height: 4rem;
      margin-left: 6rem;
    }
    &:hover {
      svg {
        display: initial;
      }
    }
  }
}
