$sm: 320px;
$md: 672px;
$lg: 1056px;
$xl: 1312px;
$max: 1584px;

$sm-minus-1: calc(#{$sm} - 1px);
$md-minus-1: calc(#{$md} - 1px);
$lg-minus-1: calc(#{$lg} - 1px);
$xl-minus-1: calc(#{$xl} - 1px);
$max-minus-1: calc(#{$max} - 1px);

.City {
  .city-selector {
    margin-top: 1rem;
    label {
      display: none;
    }
  }

  a,
  .card,
  .link {
    cursor: pointer;
    color: #6f5cb6;
    text-decoration: none;
    svg {
      fill: #6f5cb6;
      padding-top: 4px;
      margin-left: 0.25rem;
    }
  }

  .link {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .warning {
    margin-top: 2rem;
    font-style: italic;
    color: #556265;
    svg {
      fill: #7f7f7f;
    }
  }

  .lead-bx--grid {
    margin-right: auto;
    margin-left: auto;
    max-width: 99rem;
    padding-left: 0;
    padding-right: 0;
  }

  .lead-bx--row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
  }

  .lead-bx--grid {
    .hero-image {
      width: 50%;
    }
    .section {
      display: flex;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50vw;
        padding: 3rem 2rem 0 3rem;
        h1 {
          max-width: 84%;
        }
        p {
          max-width: 360px;
        }
        img {
          align-self: flex-end;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50vw;
        border-left: 1px solid #000;
        .card {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 3rem 1rem;
          .link {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  @media (max-width: $md-minus-1) {
    .lead-bx--grid {
      .section {
        flex-direction: column;
        .left {
          width: 100vw;
          padding: 3rem 2rem 0 2rem;
          border-bottom: 1px solid #000;
        }
        .right {
          width: 100vw;
          border-left: none;
          .card {
            padding: 3rem 2rem;
          }
        }
      }
    }
  }

  .divider--grey {
    height: 1px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 -1px 0 #d8d8d8;
  }

  @media (max-width: $md-minus-1) {
    .spacer {
      height: 3rem;
    }
  }

  .section {
    .eyebrow {
      padding-top: 3rem;
      h4 {
        box-shadow: 0 -1px 0 #d8d8d8;
        padding-top: 1rem;
      }
    }

    &__thank-you {
      .thank-you-message {
        p {
          font-size: 21px;
          line-height: 32px;
        }
      }
    }

    &__faqs {
      .question {
        padding-bottom: 1rem;
      }
    }
  }
}
