$sm: 320px;
$md: 672px;
$lg: 1056px;
$xl: 1312px;
$max: 1584px;

$sm-minus-1: calc(#{$sm} - 1px);
$md-minus-1: calc(#{$md} - 1px);
$lg-minus-1: calc(#{$lg} - 1px);
$xl-minus-1: calc(#{$xl} - 1px);
$max-minus-1: calc(#{$max} - 1px);

html {
  scroll-behavior: smooth;
}
.App {
  text-align: left;
  .bx--row {
    margin-left: 0;
    margin-right: 0;
  }
}

h1,
h2,
h3 {
  color: #6f5cb6;
}

h1 {
  padding-bottom: 4rem;
  font-size: 54px;
  line-height: 58px;
}
h1 + p {
  color: #556265;
}
h2 {
  padding-bottom: 2rem;
}
h3 {
  padding-bottom: 2rem;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}
h4 {
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
p {
  margin-bottom: 1rem;
}

a,
.card,
.link {
  cursor: pointer;
  color: #6f5cb6;
  text-decoration: none;
  svg {
    fill: #6f5cb6;
    padding-top: 4px;
    margin-left: 0.25rem;
  }
}

.link {
  font-size: 1rem;
}

ol {
  margin-left: 1rem;
  li {
    list-style: decimal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: #161616;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }
}

ul {
  margin-left: 1rem;
  li {
    list-style: disc;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: #161616;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }
}

.bx--grid {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bx--grid.header {
  padding-top: 0;
  padding-bottom: 0;
}

.introduction-bx--grid.introduction {
  .section {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    .left {
      width: 50vw;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 3rem;
      h1 {
        max-width: 83%;
      }
      p {
        max-width: 360px;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #f9f8ff;
      width: 50vw;
      border-left: 1px solid #000;
      .card {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        height: 50%;
      }
    }
  }
}

@media (max-width: $md-minus-1) {
  .introduction-bx--grid.introduction {
    .section {
      flex-direction: column;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      .left {
        width: 100vw;
        padding-left: 2rem;
        border-bottom: 1px solid #000;
        h1 {
          max-width: 83%;
        }
        p {
          max-width: 360px;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #f9f8ff;
        width: 100vw;
        border-left: none;
        .card {
          padding-left: 2rem;
          padding-right: 2rem;
          height: 50%;
        }
      }
    }
  }
}

.bx--grid.header {
  box-shadow: 0 1px 0 #000;
}

.introduction-bx--grid {
  margin-right: auto;
  margin-left: auto;
  max-width: 99rem;
  padding-left: 0;
  padding-right: 0;
}

.introduction-bx--row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.light-purple {
  background-color: #f9f8ff;
}

.dark-purple {
  background-color: #5e3ed6;
  p,
  h1,
  h2,
  h3 {
    color: white;
  }
}

.divider--grey {
  height: 1px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0 -1px 0 #d8d8d8;
}

@media (max-width: $md-minus-1) {
  .spacer {
    height: 3rem;
  }
}

.section {
  .eyebrow {
    padding-top: 3rem;
    h4 {
      box-shadow: 0 -1px 0 #d8d8d8;
      padding-top: 1rem;
    }
  }

  &__header {
    height: 4rem;
    align-items: center;
    h4 {
      padding-bottom: 0;
    }
    a {
      color: black;
    }
  }

  &__thank-you {
    .thank-you-message {
      p {
        font-size: 21px;
        line-height: 32px;
      }
    }
  }

  &__faqs {
    .question {
      padding-bottom: 1rem;
    }
  }
}
