html {
  background-color: #eeeeee;
}

.App {
  font-family: "Karla", serif;
  background-color: #eeeeee;
  .bx--grid {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .bx--row {
    margin-left: 0;
    margin-right: 0;
  }

  .bx--grid.header {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #7f7f84;
    .bx--row {
      height: 4rem;
      align-items: center;
      h3 {
        font-family: IBMPlexSans;
        font-weight: 500;
      }
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  h1,
  h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 1rem;
    span {
      font-weight: normal;
    }
  }

  h3,
  h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
  }

  h4 {
    margin-bottom: 0.5rem;
    max-width: 300px;
  }

  p {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 1rem;
    span {
      font-style: italic;
    }
  }

  ul {
    margin-bottom: 1rem;
    li {
      list-style: disc;
      color: #161616;
      padding-bottom: 0.5rem;
    }
  }
}
